@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #efefef;
  --foreground: #171717;
  --primary: #FACC15;
  --lemon-lime: #e7fe41;
  --sky-blue: #9cc4d4;
  --dark-green: #203627;
  --anti-flesh-white: #efefef;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-lemon-lime: var(--lemon-lime);
  --color-sky-blue: var(--sky-blue);
  --color-dark-green: var(--dark-green);
  --color-anti-flesh-white: var(--anti-flesh-white);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-playfair);
  --font-playfair: var(--font-playfair);
  --font-montserrat-black: var(--font-montserrat-black);
  --font-montserrat-regular: var(--font-montserrat-regular);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat-regular), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}